.main-space {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.main-space>div {
    margin: 2em;
    font-size: 2.5vh;
    color: rgb(21, 56, 109);
}

#mou {
    width: 70%;
    justify-self: center;
}