<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка!</title>
    <link rel="stylesheet" href="css/MainStyle.css">
    <link rel="stylesheet" href="css/MainPage.css">
</head>

<body>
    <div th:replace="~{fragments/head :: #head}"></div>

<div class="page-space">
    <div th:replace="~{fragments/left-menu :: #left-menu}"></div>
    <div class="main-space">
        Ошибка! Что-то пошло не так :(
    </div>
</div>

<div th:replace="~{fragments/bottom :: #bottom}"></div>
</body>

</html>