<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ghost fans</title>
    <link rel="stylesheet" href="css/MainPage.css">
    <link rel="stylesheet" href="css/MainStyle.css" crossorigin="anonymous">
</head>

<body>
<div th:replace="~{fragments/head :: #head}"></div>

    <div class="page-space">
        <div th:replace="~{fragments/left-menu :: #left-menu}"></div>
        <div class="main-space">
            <div>ДОБРО ПОЖАЛОВАТЬ!</div>
            <img src="images/photo_2024-05-21_13-06-34.jpg" alt="">
            <div>ПОТОМ ТУТ ОБЯЗАТЕЛЬНО ЧТО-НИБУДЬ БУДЕТ</div>
        </div>
    </div>

        <div th:replace="~{fragments/bottom :: #bottom}"></div>
</body>

</html>