<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Творческая</title>
    <link rel="stylesheet" href="css/MainStyle.css">
</head>
<body>
    <div th:replace="~{fragments/head :: #head}"></div>

    <div class="page-space">
        <div th:replace="~{fragments/left-menu :: #left-menu}"></div>
       <div class="row" th:each="post : ${posts}" th:action="/api/posts" th:method="GET">
           <div class="row">
               <a th:href="@{/posts/} + ${post.id}" th:text="${post.title}"></a>
               <a th:href="@{/user/} + ${post.authorId}" th:text="${post.authorUsername}"></a>
               <span class="right" th:text="${post.creationTime} ? ${#calendars.format(post.creationTime, 'dd MM yyyy HH:mm')}"></span>
               <span class="truncate" th:text="${post.body}"></span>
           </div>
       </div>

    </div>

    <div th:replace="~{fragments/bottom :: #bottom}"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>